In [3]:
import pandas as pd

data = {
    "name": ["A", "B", "C", "D"],
    "age": [20, 21, None, 23],
    "marks": [85, None, 88, 90]
}

df = pd.DataFrame(data)
print(df )
print(df.isna())
print(df.isna().sum())
df_filled = df.fillna(df.mean(numeric_only=True))
print(df_filled)
df_dropped = df.dropna()
print(df_dropped)
print(df_filled.groupby("age")["marks"].mean())

  name   age  marks
0    A  20.0   85.0
1    B  21.0    NaN
2    C   NaN   88.0
3    D  23.0   90.0
    name    age  marks
0  False  False  False
1  False  False   True
2  False   True  False
3  False  False  False
name     0
age      1
marks    1
dtype: int64
  name        age      marks
0    A  20.000000  85.000000
1    B  21.000000  87.666667
2    C  21.333333  88.000000
3    D  23.000000  90.000000
  name   age  marks
0    A  20.0   85.0
3    D  23.0   90.0
age
20.000000    85.000000
21.000000    87.666667
21.333333    88.000000
23.000000    90.000000
Name: marks, dtype: float64